@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Rubik", sans-serif;
  transition: all 0.16s ease-in;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 103px;
  background-color: var(--white-100);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 145px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav {
  display: flex;
  align-items: center;
  height: 8.62px;
  gap: 40px;
}

a {
  text-decoration: NONE;
  font-size: 16px;
  color: var(--gray-300);
}

.button-wrapper {
  display: flex;
  gap: 30px;
}

.sing-in-button,
button {
  font-size: 16px;
  color: var(--black-100);
  border: 1px solid var(--white-100);
  font-weight: 500;
  padding: 13px 45px 13px 45px;
  background-color: unset;
  border-radius: 50px;
}

button {
  color: var(--red-200);
  border: 1px solid var(--red-200);
  border-radius: 50px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40.76px;
}

.main-wrapper {
  width: 555px;
  gap: 20px;
}

.main-wrapper>h1 {
  line-height: 70px;
}

.button-2 {
  font-size: 16px;
  padding: 17.5px 77.5px 17.5px 77.5px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: var(--red-200);
  color: var(--white-100);
  font-weight: 700;
  box-shadow: 0px 20px 19px -10px var(--red-shadow-100);
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 41px 82px -4px var(--black-shadow-100);
}

.info-wrapper>p {
  font-size: 20px;
}

p {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-300);
}

section>h6, h1 {
  font-size: 35px;
  line-height: 50px;
  font-weight: 500;
}

h5 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  color: var(--black-100);
}

.info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36.5px;
  padding: 0px 100px 0px 100px;
  border-right: 2px solid var(--gray-100);
  border-radius: 1px;
}

.last-info {
  border: unset;
}

article {
  height: 414.71px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 169.48px;
}

.features-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.list-item>h2 {
  font-size: 35px;
  line-height: 50px;
  width: 383.41px;
}

.list-item>p {
  width: 427.88px;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.list-item {
  display: flex;
  gap: 10.08px;
}

.section-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white-200);
  width: 100%;
  height: 3120px;
  padding-top: 80.27px;
  gap: 50px;
  justify-content: flex-start;
}

.section-container>section>h6 {
  padding-top: 100px;

}

.section-container>section>p {
  text-align: center;
  width: 555px;
}

.section-container>section>img {
  padding-top: 135.81px;

}

.section-container>section {
  flex-direction: column;
  width: unset;
  height: auto;
  box-shadow: unset;
  gap: 20px;
}

.itens-wrapper>div {
  display: flex;
  align-items: center;
  gap: 20.17px;
  margin-top: 10px;
  width: 215px;
}

.card>img {
  padding-top: 39.68px;
}

.card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 766.67px;
  width: 354.72px;
  background-color: var(--white-100);
  border: 2px solid var(--gray-200);
  border-radius: 10px;
}

.card h6 {
  padding: 10px 0px;


}

.card-wrapper {
  display: flex;
  gap: 50px;

}

.itens-wrapper {
  display: flex;
  flex-direction: column;
  height: 280px;
}

.carousel {
  display: flex;
  gap: 36px;
  width: 1136px;
  height: 208.32px;
  justify-content: center;

}